<h1 class="heading">Coach's Answer:</h1>

<div class="user">
  <p><%= params[:answer] %></p>
  <p class="hi">- You</p>
</div>

<div class="coach">
  <p><%= @answer %></p>
  <p class="hi">- Coach</p>
</div>

<p><a class="link" href="/ask">Ask a new question</a></p>
