<div class="form">
  <h1 class="main-header">What do you want to ask the Coach?</h1>

  <form action="/answer" data-turbo="false">
    <input type="text" name="answer">
    <input class="btn-brown" type="submit" value="Ask!">
  </form>
</div>
